@import "@/styles/mixins";

.container {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;

  @include media-breakpoint-up(theme("screens.xl")) {
    max-width: 1440px;
    padding: 0 120px;
  }
}
