@import "@/styles/breakpoints";
@import "@/styles/mixins";

.horizontalRule {
  height: 1px;
  background: var(--purple, #937dc2);
  border: none;
}

.input {
  height: 36px;
  border-radius: 2px;
  background: var(--light-gray, #f1f1f1);
  text-indent: 16px;
  width: 236px;

  @include media-breakpoint-up(1100px) {
    width: 376px;
  }
}
.icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
}

.secondaryNav {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(928px) {
    display: none;
  }
}

.phone {
  display: none;
  @include media-breakpoint-between($md, 928px) {
    display: block;
    padding-right: 24px;
  }
}

.hamburger {
  display: none;
  @include media-breakpoint-down(928px) {
    display: block;
  }
}

.favorite {
  position: relative;
  .badge {
    position: absolute;
    font-size: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--violet, #c689c6);
    color: var(--white, #fff);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
  }
}

.primaryNavContainer {
  justify-content: space-between;
  align-items: center;
  height: 64px;
  @include media-breakpoint-down(928px) {
    display: none;
  }
}

.primaryNavList {
  display: flex;
  gap: 10px;

  @include media-breakpoint-up($lg) {
    gap: 16px;
  }

  @include media-breakpoint-up($xl) {
    gap: 24px;
  }
}

.requestCallList {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media-breakpoint-up($lg) {
    gap: 16px;
  }
  @include media-breakpoint-up($xl) {
    gap: 24px;
  }

  .requestButton {
    display: inline-flex;
    padding: 12px 12px;
    border: 1px solid var(--purple, #937dc2);
    justify-content: center;
    align-items: center;
    color: var(--purple, #937dc2);

    @include media-breakpoint-up($lg) {
      padding: 12px 32px;
    }
  }
}
