@import "@/styles/mixins";

.verticalLine {
  @apply inline-block h-[32px] w-[1px];
  background: theme("colors.purple");
}

.logoTitle {
  @apply inline-block text-xs max-w-[60px];
  color: rgba(147, 125, 194, 0.6);
}

.horizontalRule {
  height: 1px;
  background: theme("colors.purple");
  border: none;
}

.input {
  height: 36px;
  border-radius: 2px;
  background: theme("colors.gray-100");
  text-indent: 16px;
  width: 236px;

  @include media-breakpoint-up(1100px) {
    width: 376px;
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
}

.secondaryNav {
  display: flex;
  align-items: center;
  color: theme("colors.gray-300");

  @include media-breakpoint-down(928px) {
    display: none;
  }
}

.phone {
  display: none;
  @include media-breakpoint-between(theme("screens.sm"), 928px) {
    display: block;
    padding-right: 24px;
  }
}

.hamburger {
  display: none;
  @include media-breakpoint-down(928px) {
    display: block;
  }
}

.favorite {
  position: relative;
  .badge {
    position: absolute;
    font-size: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: theme("colors.violet");
    color: theme("colors.white");
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
  }
}

.primaryNavContainer {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  @include media-breakpoint-down(928px) {
    display: none;
  }
}

.primaryNavList {
  display: flex;
  gap: 10px;
  color: theme("colors.gray-400");

  @include media-breakpoint-up(theme("screens.lg")) {
    gap: 16px;
  }

  @include media-breakpoint-up(theme("screens.xl")) {
    gap: 24px;
  }
}

.requestCallList {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media-breakpoint-up(theme("screens.lg")) {
    gap: 16px;
  }
  @include media-breakpoint-up(theme("screens.xl")) {
    gap: 24px;
  }

  .requestButton {
    display: inline-flex;
    padding: 12px;
    border: 1px solid theme("colors.purple");
    justify-content: center;
    align-items: center;
    color: theme("colors.purple");

    @include media-breakpoint-up(theme("screens.lg")) {
      padding: 12px 32px;
    }
  }
}
