@import "@/styles/breakpoints";
@import "@/styles/mixins";

.secondaryNavArea {
  display: flex;
}

.requestButton {
  display: inline-flex;
  padding: 12.017px 32.044px;
  border: 1.001px solid var(--purple, #937dc2);
  justify-content: center;
  align-items: center;
  gap: 10.014px;
  color: var(--purple, #937dc2);
}

.horizontalRule {
  height: 1px;
  background: #937dc2;
  border: none;
}

.search {
  position: relative;
  .input {
    height: 36px;
    border-radius: 2px;
    background: #f1f1f1;
    text-indent: 16px;

    @include media-breakpoint-up($sm) {
      width: 220px;
    }

    @include media-breakpoint-up(1100px) {
      width: 376px;
    }

    // @include media-breakpoint-between($sm, 940px) {
    // }
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
  }
}

.favorite {
  position: relative;
  .badge {
    position: absolute;
    font-size: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--violet, #c689c6);
    color: var(--white, #fff);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
  }
}
